* {
	padding: 0;
	margin: 0;
	border: 0;
	}

    :root {
        --black: #17191C;
        --main-text:#2F353D;
        --border: 1px solid #CBCBCB;
      }
      
body{
    font-size: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 0 auto 0 auto;
  
}
h1{
    
    font-size: 3rem;  
    font-weight: 700; 
    text-align: center;
    color:  var(----black);
    
}
.block{
   
    margin: 10rem auto 3rem auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #EAF4FF;
    text-align: center;
  

}
H2{
    display: block;
    margin: 4rem auto 1.5rem auto;
    width: 43.875rem;
    height: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(---black)
}

.text{
    display: block;
    margin: 0 auto 1.5rem auto;
    width: 702px;
    color: var(--main-text)
   
}
.image1{
    display: block;
    margin: 0 auto 1.5rem auto;

   }

.image2{
    display: block;
    margin: 2.5rem auto 0 auto;

   }
   ul{
    width: 43.875rem;
    margin: 0 auto 0 auto;
   }

table{
    width: 43.875rem;
    border-collapse: collapse;
    border:  0 var(--border) var(--border) var(--border);
    margin: 0 auto;

}
th{
    border-bottom: var(--border);
    font-weight: 400;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem; 

}

td{
    border-left:  var(--border);
    border-right:  var(--border);
}
.col1{
 width: 15.9375rem;
 padding: 1rem;   
 border-left:  var(--border);
 border-right:  var(--border); 
}
.col2{
width: 7.8125rem;
text-align: center;

}
.col3{
    width: 9.125rem;
    text-align: center;
}
.col4{
    width: 9rem;
    text-align: center;
}
li{
    line-height: 1.875rem;
}